body {
        background-color: #FDFFFC;
        color: #131515;
        font-size: 12pt;
}

h4 {
        color: #F61067;
        font-weight: 600;
        font-size: 30pt;
}

a {
        text-decoration:none;
}

a:hover {
        border-bottom: 1px solid;
        border-bottom-color: #F61067;
}

section h5 {
        margin-bottom: 1rem;
        color: #F61067;
        font-weight: 600;
        font-size: 25pt;
}

ul {
        list-style: none;
}

.emphasis {
        font-weight: 600;
}
